# Dataset Overview

**This notebook illustrates methods for rapid overviews of all variables in a dataset**.

This notebook primarily uses capabilities from numpy and pandas.

**We begin by importing key libraries**

In [1]:
# Import key libraries
import pandas as pd
import numpy as np

**Load in data from CSV**

We read in the data from a CSV containing 1000 row sample of New York state mortgage application outcomes.

In [4]:
# Read in the data using pandas, with low_memory=False in case the dataset is large
dataset = pd.read_csv("sample_input/exploration_hmda_lar.csv", low_memory=False)

# Dataset overview using pandas methods

We use the following pandas methods to obtain basic information about the contents of the data:
* .info(): Column names, number of non-nulls, and column data type
* .head(): See top rows of each data field
* .describe(): Basic stats for each variable, which we then augment with number of missing or blank values

Following this we use a custom function for additional information from numerical and categorical variables respectively.

-------------------------------------------------------------------------------------------------------------------------------
**.info() method provides information on the following:**
- Number of rows and columns
- Column names
- Number of non-missing values per column
- Column type (e.g. integer, float, object such as string, datetime)
- Number of variables by data type
- Memory usage

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 78 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   action_taken                    1000 non-null   int64
 1   action_taken_name               1000 non-null   object
 2   agency_code                     1000 non-null   int64
 3   agency_abbr                     1000 non-null   object
 4   agency_name                     1000 non-null   object
 5   applicant_ethnicity             1000 non-null   int64
 6   applicant_ethnicity_name        1000 non-null   object
 7   applicant_income_000s           910 non-null    float64
 8   applicant_race_1                1000 non-null   int64
 9   applicant_race_2                5 non-null      float64
 10  applicant_race_3                0 non-null      float64
 11  applicant_race_4                0 non-null      float64
 12  applicant_race_5                0 non-null      float64
 13  applicant_race_name_1           1000 non-null   object
 14  applicant_race_name_2           5 non-null      object
 15  applicant_race_name_3           0 non-null      float64
 16  applicant_race_name_4           0 non-null      float64
 17  applicant_race_name_5           0 non-null      float64
 18  applicant_sex                   1000 non-null   int64
 19  applicant_sex_name              1000 non-null   object
 20  application_date_indicator      1000 non-null   int64
 21  as_of_year                      1000 non-null   int64
 22  census_tract_number             1000 non-null   float64
 23  co_applicant_ethnicity          1000 non-null   int64
 24  co_applicant_ethnicity_name     1000 non-null   object
 25  co_applicant_race_1             1000 non-null   int64
 26  co_applicant_race_2             0 non-null      float64
 27  co_applicant_race_3             0 non-null      float64
 28  co_applicant_race_4             0 non-null      float64
 29  co_applicant_race_5             0 non-null      float64
 30  co_applicant_race_name_1        1000 non-null   object
 31  co_applicant_race_name_2        0 non-null      float64
 32  co_applicant_race_name_3        0 non-null      float64
 33  co_applicant_race_name_4        0 non-null      float64
 34  co_applicant_race_name_5        0 non-null      float64
 35  co_applicant_sex                1000 non-null   int64
 36  co_applicant_sex_name           1000 non-null   object
 37  county_code                     1000 non-null   int64
 38  county_name                     1000 non-null   object
 39  denial_reason_1                 47 non-null     float64
 40  denial_reason_2                 14 non-null     float64
 41  denial_reason_3                 5 non-null      float64
 42  denial_reason_name_1            47 non-null     object
 43  denial_reason_name_2            14 non-null     object
 44  denial_reason_name_3            5 non-null      object
 45  edit_status                     102 non-null    float64
 46  edit_status_name                102 non-null    object
 47  hoepa_status                    1000 non-null   int64
 48  hoepa_status_name               1000 non-null   object
 49  lien_status                     1000 non-null   int64
 50  lien_status_name                1000 non-null   object
 51  loan_purpose                    1000 non-null   int64
 52  loan_purpose_name               1000 non-null   object
 53  loan_type                       1000 non-null   int64
 54  loan_type_name                  1000 non-null   object
 55  msamd                           966 non-null    float64
 56  msamd_name                      966 non-null    object
 57  owner_occupancy                 1000 non-null   int64
 58  owner_occupancy_name            1000 non-null   object
 59  preapproval                     1000 non-null   int64
 60  preapproval_name                1000 non-null   object
 61  property_type                   1000 non-null   int64
 62  property_type_name              1000 non-null   object
 63  purchaser_type                  1000 non-null   int64
 64  purchaser_type_name             1000 non-null   object
 65  respondent_id                   1000 non-null   object
 66  sequence_number                 1000 non-null   int64
 67  state_code                      1000 non-null   int64
 68  state_abbr                      1000 non-null   object
 69  state_name                      1000 non-null   object
 70  hud_median_family_income        1000 non-null   int64
 71  loan_amount_000s                1000 non-null   int64
 72  number_of_1_to_4_family_units   1000 non-null   int64
 73  number_of_owner_occupied_units  999 non-null    float64
 74  minority_population             1000 non-null   float64
 75  population                      1000 non-null   int64
 76  rate_spread                     19 non-null     float64
 77  tract_to_msamd_income           1000 non-null   float64
dtypes: float64(26), int64(25), object(27)
memory usage: 609.5+ KB

-------------------------------------------------------------------------------------------------------------------------------
**.head(N) method shows the first N rows of the dataset**

In [10]:
pd.set_option('display.max_columns', None) # Show all columns (when there is a large number of columns, only the first and last several columns are shown)
dataset.head(3)

,action_taken,action_taken_name,agency_code,agency_abbr,agency_name,applicant_ethnicity,applicant_ethnicity_name,applicant_income_000s,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,applicant_race_name_1,applicant_race_name_2,applicant_race_name_3,applicant_race_name_4,applicant_race_name_5,applicant_sex,applicant_sex_name,application_date_indicator,as_of_year,census_tract_number,co_applicant_ethnicity,co_applicant_ethnicity_name,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,co_applicant_race_name_1,co_applicant_race_name_2,co_applicant_race_name_3,co_applicant_race_name_4,co_applicant_race_name_5,co_applicant_sex,co_applicant_sex_name,county_code,county_name,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_name_1,denial_reason_name_2,denial_reason_name_3,edit_status,edit_status_name,hoepa_status,hoepa_status_name,lien_status,lien_status_name,loan_purpose,loan_purpose_name,loan_type,loan_type_name,msamd,msamd_name,owner_occupancy,owner_occupancy_name,preapproval,preapproval_name,property_type,property_type_name,purchaser_type,purchaser_type_name,respondent_id,sequence_number,state_code,state_abbr,state_name,hud_median_family_income,loan_amount_000s,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,rate_spread,tract_to_msamd_income
0,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,71.0,5,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,1,Male,0,2016,105.0,2,Not Hispanic or Latino,5,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,2,Female,55,Monroe County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Not a HOEPA loan,1,Secured by a first lien,1,Home purchase,1,Conventional,40380.0,Rochester - NY,1,Owner-occupied as a principal dwelling,2,Preapproval was not requested,1,One-to-four family dwelling (other than manufa...,6,"Commercial bank, savings bank or savings assoc...",16-1566654,1164,36,NY,New York,68100,128,1794,1669.0,7.150000,4501,NaN,115.269997
1,3,Application denied by financial institution,7,HUD,Department of Housing and Urban Development,3,"Information not provided by applicant in mail,...",27.0,6,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,2,Female,0,2016,1014.0,5,No co-applicant,8,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,5,No co-applicant,47,Kings County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Not a HOEPA loan,1,Secured by a first lien,3,Refinancing,1,Conventional,35614.0,"New York, Jersey City, White Plains - NY, NJ",1,Owner-occupied as a principal dwelling,3,Not applicable,1,One-to-four family dwelling (other than manufa...,0,Loan was not originated or was not sold in cal...,26-4599244,277064,36,NY,New York,72600,210,841,478.0,94.440002,2160,NaN,94.160004
2,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,98.0,5,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,1,Male,0,2016,750.0,2,Not Hispanic or Latino,5,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,2,Female,113,Warren County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Not a HOEPA loan,1,Secured by a first lien,1,Home purchase,2,FHA-insured,24020.0,Glens Falls - NY,1,Owner-occupied as a principal dwelling,3,Not applicable,1,One-to-four family dwelling (other than manufa...,2,Ginnie Mae (GNMA),95-4623407,25100,36,NY,New York,64800,224,2375,893.0,3.190000,3355,1.71,87.650002

-------------------------------------------------------------------------------------------------------------------------------
**.describe() method provides additional information about each column, with different types of information based on data type**

In [12]:
dataset.describe(include='all')

,action_taken,action_taken_name,agency_code,agency_abbr,agency_name,applicant_ethnicity,applicant_ethnicity_name,applicant_income_000s,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,applicant_race_name_1,applicant_race_name_2,applicant_race_name_3,applicant_race_name_4,applicant_race_name_5,applicant_sex,applicant_sex_name,application_date_indicator,as_of_year,census_tract_number,co_applicant_ethnicity,co_applicant_ethnicity_name,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,co_applicant_race_name_1,co_applicant_race_name_2,co_applicant_race_name_3,co_applicant_race_name_4,co_applicant_race_name_5,co_applicant_sex,co_applicant_sex_name,county_code,county_name,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_name_1,denial_reason_name_2,denial_reason_name_3,edit_status,edit_status_name,hoepa_status,hoepa_status_name,lien_status,lien_status_name,loan_purpose,loan_purpose_name,loan_type,loan_type_name,msamd,msamd_name,owner_occupancy,owner_occupancy_name,preapproval,preapproval_name,property_type,property_type_name,purchaser_type,purchaser_type_name,respondent_id,sequence_number,state_code,state_abbr,state_name,hud_median_family_income,loan_amount_000s,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,rate_spread,tract_to_msamd_income
count,1000.000000,1000,1000.000000,1000,1000,1000.000000,1000,910.000000,1000.000000,5.0,0.0,0.0,0.0,1000,5,0.0,0.0,0.0,1000.000000,1000,1000.000000,1000.0,1000.000000,1000.000000,1000,1000.0000,0.0,0.0,0.0,0.0,1000,0.0,0.0,0.0,0.0,1000.000000,1000,1000.000000,1000,47.000000,14.000000,5.00000,47,14,5,102.0,102,1000.0,1000,1000.000000,1000,1000.000000,1000,1000.000000,1000,966.000000,966,1000.000000,1000,1000.000000,1000,1000.00000,1000,1000.000000,1000,1000,1.000000e+03,1000.0,1000,1000,1000.000000,1000.000000,1000.00000,999.000000,1000.000000,1000.000000,19.000000,1000.000000
unique,NaN,6,NaN,6,6,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,7,1,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,5,NaN,45,NaN,NaN,NaN,6,6,4,NaN,1,NaN,1,NaN,4,NaN,3,NaN,4,NaN,9,NaN,3,NaN,3,NaN,3,NaN,9,181,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Loan originated,NaN,CFPB,Consumer Financial Protection Bureau,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,NaN,NaN,White,White,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,NaN,No co-applicant,NaN,Suffolk County,NaN,NaN,NaN,Credit history,Other,Other,NaN,Quality edit failure only,NaN,Not a HOEPA loan,NaN,Secured by a first lien,NaN,Home purchase,NaN,Conventional,NaN,"New York, Jersey City, White Plains - NY, NJ",NaN,Owner-occupied as a principal dwelling,NaN,Not applicable,NaN,One-to-four family dwelling (other than manufa...,NaN,Loan was not originated or was not sold in cal...,0000852218,NaN,NaN,NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,711,NaN,353,353,NaN,775,NaN,NaN,NaN,NaN,NaN,NaN,700,5,NaN,NaN,NaN,NaN,587,NaN,NaN,NaN,NaN,514,NaN,NaN,NaN,NaN,NaN,514,NaN,NaN,NaN,NaN,NaN,514,NaN,179,NaN,NaN,NaN,14,5,2,NaN,102,NaN,1000,NaN,850,NaN,565,NaN,793,NaN,300,NaN,932,NaN,821,NaN,985,NaN,432,94,NaN,NaN,1000,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.030000,NaN,6.657000,NaN,NaN,2.204000,NaN,160.248352,4.941000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.630000,NaN,0.234000,2016.0,1461.204110,3.698000,NaN,6.6120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.597000,NaN,77.184000,NaN,3.978723,4.857143,5.20000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,1.402000,NaN,1.815000,NaN,1.273000,NaN,36052.198758,NaN,1.079000,NaN,2.804000,NaN,1.02600,NaN,2.160000,NaN,NaN,9.345232e+04,36.0,NaN,NaN,80525.500000,349.446000,1577.85900,1267.606607,28.017220,4840.794000,1.918421,118.199090
std,1.777149,NaN,2.380129,NaN,NaN,0.671442,NaN,455.584548,1.129954,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.919753,NaN,0.643162,0.0,2338.923906,1.445298,NaN,1.6316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.576412,NaN,27.334105,NaN,2.506421,3.393594,3.63318,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.989634,NaN,0.954823,NaN,0.600693,NaN,4299.141964,NaN,0.307984,NaN,0.437922,NaN,0.21765,NaN,2.842266,NaN,NaN,2.071528e+05,0.0,NaN,NaN,16969.079215,627.927093,786.34219,583.230048,27.343141,1817.013786,0.480362,51.360758
min,1.000000,NaN,1.000000,NaN,NaN,1.000000,NaN,17.000000,1.000000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,2016.0,4.000000,1.000000,NaN,2.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,3.000000,NaN,1.000000,1.000000,1.00000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,1.000000,NaN,1.000000,NaN,1.000000,NaN,24020.000000,NaN,1.000000,NaN,1.000000,NaN,1.00000,NaN,0.000000,NaN,NaN,2.000000e+00,36.0,NaN,NaN,57900.000000,1.000000,10.00000,41.000000,1.870000,82.000000,1.510000,25.480000
25%,1.000000,NaN,5.000000,NaN,NaN,2.000000,NaN,60.000000,5.000000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,2016.0,123.040000,2.000000,NaN,5.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,55.000000,NaN,3.000000,2.250000,3.00000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,1.000000,NaN,1.000000,NaN,1.000000,NaN,35004.000000,NaN,1.000000,NaN,3.000000,NaN,1.00000,NaN,0.000000,NaN,NaN,8.342500e+02,36.0,NaN,NaN,68100.000000,127.750000,1114.75000,860.000000,8.740000,3628.750000,1.620000,90.599998
50%,1.000000,NaN,7.000000,NaN,NaN,2.000000,NaN,93.000000,5.000000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,2016.0,374.000000,5.000000,NaN,8.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,71.000000,NaN,3.000000,3.500000,4.00000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,1.000000,NaN,1.000000,NaN,1.000000,NaN,35614.000000,NaN,1.000000,NaN,3.000000,NaN,1.00000,NaN,1.000000,NaN,NaN,5.496000e+03,36.0,NaN,NaN,72600.000000,221.000000,1548.00000,1248.000000,17.560000,4707.500000,1.710000,107.045002
75%,3.000000,NaN,9.000000,NaN,NaN,2.000000,NaN,143.750000,5.000000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,0.000000,2016.0,1583.112500,5.000000,NaN,8.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,103.000000,NaN,6.500000,9.000000,9.00000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,1.000000,NaN,3.000000,NaN,1.000000,NaN,40380.000000,NaN,1.000000,NaN,3.000000,NaN,1.00000,NaN,3.000000,NaN,NaN,6.630700e+04,36.0,NaN,NaN,106200.000000,365.000000,2002.25000,1668.000000,34.650002,5872.250000,2.005000,127.367500
max,6.000000,NaN,9.000000,NaN,NaN,4.000000,NaN,9999.000000,7.000000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,2.000000,2016.0,9703.000000,5.000000,NaN,8.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,123.000000,NaN,9.000000,9.000000,9.00000,NaN,NaN,NaN,6.0,NaN,2.0,NaN,4.000000,NaN,3.000000,NaN,4.000000,NaN,48060.000000,NaN,3.000000,NaN,3.000000,NaN,3.00000,NaN,9.000000,NaN,NaN,1.231166e+06,36.0,NaN,NaN,106200.000000,9000.000000,6345.00000,3415.000000,99.730003,13749.000000,3.390000,367.609985

**You can choose to describe columns of specific data types, and also specify percentiles for numerical variables** 
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html